#text_journey {
width: 40em;
bottom: 60px;
}
#text_firewall {
width: 40%;
bottom: 1030px;
}
#text_heroes {
width: 60%;
bottom: 670px;
}
#text_fellowship {
width: 47%;
bottom: 100px;
}
#text_studying {
width: 50%;
bottom: 1000px;
}
#text_scribing {
width: 68%;
bottom: 100px;
}
